
    {% extends "base.html" %}

    {% block title %}Assignments{% endblock %}

    {% block content %}
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1>Assignments</h1>
            <a href="{% url 'assets:asset_create' %}" class="btn btn-primary">Assign Asset</a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Asset</th>
                    <th>Current Holder</th>
                    <th>Date Given</th>
                </tr>
            </thead>
            <tbody>
                {% for assignment in asset_assignments %}
                    <tr>
                        <td>{{ assignment.asset.asset_name }}</td>
                        <td>{{ assignment.user.get_full_name }}</td>
                        <td>{{ assignment.date_given }}</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>


    {% endblock %}
